<configuration>
    <!-- Reduces the spammy logback logging during startup -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>

    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>x_request_id</includeMdcKeyName>
            <includeMdcKeyName>trace_id</includeMdcKeyName>
            <includeMdcKeyName>span_id</includeMdcKeyName>
        </encoder>
    </appender>
</configuration>